omron:
  omron_goal_client:
    ros__parameters:
      map: "/omron/map" #topic
      odom: "/omron/odom" #topic
      map_frame: "map" #tf
      base_frame: "omron/base_footprint" #tf

  controller_manager:
    ros__parameters:
      update_rate: 100

      omron_state_broadcaster:
        type: omron/OmronStateBroadcaster

      omron_fake_pose_controller:
        type: omron/OmronFakePositionController

      joint_trajectory_controller:
        type: joint_trajectory_controller/JointTrajectoryController

      joint_state_broadcaster:
        type: joint_state_broadcaster/JointStateBroadcaster

      robotiq_gripper_controller:
        type: position_controllers/GripperActionController

      robotiq_activation_controller:
        type: robotiq_controllers/RobotiqActivationController
      
      omron_forward_controller:
        type: omron/OmronController

      ft_broadcaster:
        type: force_torque_sensor_broadcaster/ForceTorqueSensorBroadcaster


  omron_state_broadcaster:
    ros__parameters:
      tf:
        use_tf: true
        to: "omron/base_footprint"
        from: "omron/map"
        odom: "omron/odom"
      interfaces:
        velocity:
          prefix: "omron_base/velocity"
          command:
            - "linear/velocity"
            - "angular/velocity"
          states:
            - "linear/velocity"
            - "angular/velocity"
        pose:
          prefix: "omron_base/pose"
          states:
          - "linear/x"
          - "linear/y"
          - "angular/z"
        reference:
          prefix: "omron_base/reference"
          command:
            - "linear/x"
      #          - "linear/y"
      #          - "linear/z"
      #          - "angular/x"
      #          - "angular/y"
            - "angular/z"

  joint_trajectory_controller:
    ros__parameters:
      joints:
        - omron/joint_1
        - omron/joint_2
        - omron/joint_3
        - omron/joint_4
        - omron/joint_5
        - omron/joint_6
      command_interfaces:
        - position
      state_interfaces:
        - position
        - velocity

  # Gripper Robotiq
  robotiq_gripper_controller:
    ros__parameters:
      default: true
      joint: omron/finger_joint
      allow_stalling: true
      goal_tolerance: 0.001
      max_effort: 20.0
      stall_timeout: 2.5
      stall_velocity_threshold: 0.001


  robotiq_activation_controller:
    ros__parameters:
      default: true

  omron_forward_controller:
    ros__parameters:
      cmd_vel_topic: "/omron/cmd_vel"
      tf: # Unused
        use_tf: true
        to: "omron/base_footprint"
        from: "map"
        odom: "omron/odom"
      interfaces:
        velocity:
          command: ["velocity/linear/velocity", "velocity/angular/velocity"]
          states:  ["velocity/linear/velocity", "velocity/angular/velocity"]
        reference:
          prefix: "omron_base/reference"
          command: ["linear/velocity", "angular/velocity"]

  omron_fake_pose_controller:
    ros__parameters:
      feedback:
        use_open_loop: true
        kp: 0.0
      cmd_vel_topic: "/omron/cmd_vel"
      tf:
        use_tf: true
        to: "base_link"
        from: "map"
        odom: "odom"
      interfaces:
        velocity:
          prefix: "omron_base/velocity"
          command:
            - "linear/velocity"
            - "angular/velocity"
          states:
            - "linear/velocity"
            - "angular/velocity"
        pose:
          prefix: "omron_base/pose"
          command:
          - "linear/x"
          - "linear/y"
          - "angular/z"
          states:
          - "linear/x"
          - "linear/y"
          - "angular/z"
        reference:
          prefix: "omron_base/reference"
          command:
            - "linear/x"
  #          - "linear/y"
  #          - "linear/z"
  #          - "angular/x"
  #          - "angular/y"
            - "angular/z"

  cnr_admittance_controller:
    ros__parameters:
      type: cnr_admittance_controller/AdmittanceController
      robot_description: ""  # to be set by launch file
      update_rate: 100
      joints:
        - omron/joint_1
        - omron/joint_2
        - omron/joint_3
        - omron/joint_4
        - omron/joint_5
        - omron/joint_6
      command_interfaces:
        - position
      state_interfaces:
        - position
        - velocity
      chainable_command_interfaces:
        - position
        - velocity
      kinematics:
        plugin_name: kinematics_interface_kdl/KinematicsInterfaceKDL
        plugin_package: kinematics_interface
        base: omron/base_footprint
        tip: omron/robotiq_ft_frame_id
        group_name: omron_arm
        alpha: 0.0005
      ft_sensor:
        name: omron/robotiq_ft_sensor
        frame:
          id: omron/ft300s_sensor
          external: false
        low_pass_filter_frequency: 10.0
        force_deadband: 2.0
        torque_deadband: 2.0
        bias_cycles: 100
      control:
        frame:
          id: omron/base_footprint
          external: false
      fixed_world_frame:
        frame:
          id: omron/base_footprint
          external: false
      gravity_compensation:
        frame:
          id: omron/ft300s_sensor
          external: false
        CoG: # TODO: To Change!!!!!!
          pos: [0.0, 0.0, 0.0]
          force: 0.0
      admittance:
        selected_axes:
          - true  # x
          - true  # y
          - true  # z
          - false  # rx
          - false  # ry
          - false  # rz
        mass: # F = M*a + D*v + S*(x - x_d)
          - 1.0
          - 1.0
          - 1.0
          - 1.0
          - 1.0
          - 1.0
        damping_ratio: # damping can be used instead: zeta = D / (2 * sqrt( M * S ))
          - 2.828427
          - 2.828427
          - 2.828427
          - 2.828427
          - 2.828427
          - 2.828427
        stiffness:
          - 90.0
          - 90.0
          - 90.0
          - 9.0
          - 9.0
          - 9.0

  ft_broadcaster:
    ros__parameters:
      frame_id: omron/ft300s_sensor
      sensor_name: omron/robotiq_ft_sensor
