omron:
  tm_moveit_standalone_node:
    ros__parameters:
      joints:
        - omron/joint_1
        - omron/joint_2
        - omron/joint_3
        - omron/joint_4
        - omron/joint_5
        - omron/joint_6
      robot_ip: "169.254.49.101"
      action_name: "/omron/joint_trajectory_controller/follow_joint_trajectory"
      pub_joint_states: true
