<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="omron_imm_ros2_control">

  <xacro:macro name="omron_imm_ros2_control" params="prefix
  use_fake_tm
  use_fake_omron
  include_robotiq_ft_sensor:=false
  use_fake_ft_sensor:=false
  include_robotiq_gripper:=false
  use_fake_gripper:=false
  omron_ip:=1.2.3.4">

    <!-- LD60 -->
    <xacro:include filename="$(find omron_hardware_interface)/urdf/omron.ros2_control.xacro"/>
    <xacro:omron_aria name="omron_aria" use_fake_hardware="${use_fake_omron}" ip_address="${omron_ip}"/>

    <!-- TM12 -->
    <!-- from https://github.com/JRL-CARI-CNR-UNIBS/stiima_tm12_ros2.git -->
    <xacro:include filename="$(find tm_description)/xacro/tm12.ros2_control.xacro" />
    <xacro:tm12_ros2_control name="tm12" prefix="${prefix}" use_fake_hardware="${use_fake_tm}"/>

    <!-- Force-Torque sensor -->
    <!-- from https://github.com/JRL-CARI-CNR-UNIBS/rq_fts_ros2_driver.git -->
    <xacro:if value="${include_robotiq_ft_sensor}">
      <xacro:include filename="$(find robotiq_ft_sensor_description)/urdf/robotiq_fts.ros2_control.xacro"/>
      <xacro:robotiq_fts_ros2_control name="${prefix[:-1]}" tf_prefix="${prefix}" max_retries="1" read_rate="10" use_fake_mode="${use_fake_ft_sensor}"/>
    </xacro:if>

    <!-- Robotiq 2F-140 Gripper -->
    <xacro:if value="${include_robotiq_gripper}">
      <xacro:include filename="$(find robotiq_description)/urdf/2f_140.ros2_control.xacro"/>
      <xacro:robotiq_gripper_ros2_control name="${prefix}omron/robotiq_2f_140" prefix="${prefix}" use_fake_hardware="${use_fake_gripper}"/>
    </xacro:if>

</xacro:macro>

</robot>
