<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="omron_imm">
  <xacro:arg name="fake" default="true"/>
  <xacro:arg name="prefix" default="omron/"/>
  <xacro:arg name="use_ft_sensor" default="true"/>
  <xacro:arg name="use_gripper" default="true"/>

  <xacro:include filename="$(find omron_imm_description)/urdf/omron_imm.macro.xacro"/>
  <xacro:include filename="$(find omron_imm_description)/urdf/omron_imm.ros2_control.xacro"/>

  <xacro:omron_imm name="$(arg prefix)" fake="$(arg fake)"/>
  <xacro:omron_imm_ros2_control prefix="$(arg prefix)" fake="$(arg fake)"/>

<!-- Force sensor and Gripper -->
  <xacro:include filename="$(find robotiq_ft_sensor_description)/urdf/robotiq_ft300s.urdf.xacro"/>
  <xacro:include filename="$(find robotiq_description)/urdf/robotiq_2f_140_macro.urdf.xacro"/>

  <!-- Force Torque Sensor -->
  <xacro:robotiq_ft300s parent="flange" tf_prefix="$(arg prefix)">
    <origin xyz="0 0 -0.006" rpy="0 0 0"/>
  </xacro:robotiq_ft300s>

  <xacro:if value="$(arg use_ft_sensor)">
    <xacro:include filename="$(find robotiq_ft_sensor_description)/urdf/robotiq_fts.ros2_control.xacro"/>
    <xacro:robotiq_fts_ros2_control name="$(arg prefix)omron_imm/" tf_prefix="$(arg prefix)" max_retries="1" read_rate="10"/>
  </xacro:if>

  <!-- Robotiq Gripper -->
  <!-- TODO: include gazebo -->
  <xacro:robotiq_gripper name="azrael_gripper" prefix="$(arg prefix)" parent="$(arg prefix)robotiq_ft_frame_id" include_ros2_control="false">
    <origin xyz="0 0 -0.00695" rpy="0 0 ${pi/2}"/>
  </xacro:robotiq_gripper>

  <xacro:if value="$(arg use_gripper)">
    <xacro:include filename="$(find robotiq_description)/urdf/2f_140.ros2_control.xacro"/>
    <xacro:robotiq_gripper_ros2_control name="$(arg prefix)omron_imm/robotiq_2f_140" prefix="$(arg prefix)"/>
  </xacro:if>

  <link name="$(arg prefix)tip"/>
  <joint name="$(arg prefix)to_tip" type="fixed">
    <parent link="$(arg prefix)robotiq_140_base_link"/>
    <child link="$(arg prefix)tip"/>
    <origin xyz="0 0 0.1767" rpy="0 0 0"/>
  </joint>

</robot>